#sec_1
{
    background-color: #bdc3c7;
}

#sec_2
{
    background-color: #95a5a6;
}
#sec_3
{
    background-color: #7f8c8d;
    text-align: center;
}
.education,.skills,.projects,.hobbies,.achievements,.contact,.feedback
{
    font-size: 18px;
    margin: 50px;
    padding: 2%;
    width: 100%;
}
.feedback
{
    text-align: center;
    font-size: 20px;
    outline-color: #1e3799;
}
form
{
    display: inline;
}
button
{
    background-color: #006266;
}
h3
{
    color: #0c2461;
}
img
{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
h1
{
    text-align: center;
    color: #0a3d62;
}
p
{
    text-align: center;
    color: #222f3e;
    font-size: 18px;
}
.education
{
    padding: 5px;
    column-gap: 20px;
}